*{
    font-family: sans-serif;
}


/*HEADER*/
header{
    display: flex;
    justify-content: space-around;
}
nav > ul {
    display: flex;
    justify-content: space-around;
    width: 10em;
}
li{
    list-style: none;
}
li > a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
nav a {
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    padding: 1em;
}
.cart{
    position: relative;
}
.cart_check{
    position: absolute;
    width: 23px;
    top: 0;
    left: 35px;
    display: none;
}


/*HERO*/

.hero-container{
    background-image: url('./img/heroBG.jpg');
    background-clip: border-box;
    background-size: cover;
    width: 100%;
    gap: 4em;
    height: 80vh;
    background-position: 27%;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-around;

}
.hero-container::before{
    content: '';
    z-index: -1;
    position: absolute;
    opacity: 80%;
    background-color: #DEDEDE;
    width: inherit;
    height: inherit;
}
.slider_container{
    width: 50%;
}
.hero_title, .prod_title{
    background-color: #3F2929;
    opacity: 56%;
    width: 98%;
    color: #fff;
    font-size: 32px;
    text-align: center;
    padding: 15px;
    margin: 30px 0;
}

.prod_title{
    padding: 15px 9px;
    margin: 30px 0;
    float: right;
}

.slider img {
    width: 100%;
}
body > main > div > div > div.slider > div > div{
    right: -19px;
}

button.slick-prev.slick-arrow, button.slick-next.slick-arrow {
    display: none !important;
}


/* PRODUCTS */
.products_container{
    width: 50%;
}

.prod_holder{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 2em 0;
}

.product{
    width: 25%;
    height: 98%;
    background-color: aliceblue;
    color: #fff;
}

.prod_img{
    width: 100%;
    height: 60%;
}
.prod_decs, .prod_price{
    background-color: #80716F;
    opacity: 50%;
    width: 60%;
    font-size: 11px;
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
}

.prod_price{
    background-color: #80716F;
    opacity: 60%;
    width: 70%;
}
.prod_btn{ 
    background-color: #80716F;
    opacity: 76%;
    border: none;
    width: 85%;
    padding: 10px 0;
    margin: 2px 0;
    color: #fff;
    cursor: pointer;
}
.prod_btn:hover {
    color: #80716F;
    background-color: #c0b9b9;
}

.added_to_cart{
    background-color: #4AAC1C;
    opacity: 76%;
    border: none;
    width: 85%;
    padding: 10px 0;
    margin: 2px 0;
    color: #fff;
    cursor: pointer;
}


/* CART */
.cart_window{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
    height: 55%;
    background-color: #fff;
    position: absolute;
    right: 0;
    border: 1px solid grey;
}

.cart_item{
    width: 95%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    border-bottom: 1px solid #d1d1d1;
    padding: 10px 0;
}
.cart_item_img{
    width: 50%;
}
.cart_item img{
    width: 100px;

}
.cart_info{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.cart_quantity{
    font-size: 17px;
}
.cart_quantity:before{
    content: '<';
}
.cart_quantity::after {
    content: '>';
}
.cart_quantity:before, .cart_quantity::after{
    color: #fff;
    background-color: #000;
    padding: 5px 9px;
    border-radius: 86px;
    margin: 10px;
}

.cart_total{
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: space-around;
    padding: 20px;
    width: 84%;
    margin: 0 auto;
    border-top: 1px solid #d1d1d1;
}
.total_price{
    padding: 0 30px;
}
.cart_actions{
    display: flex;
    justify-content: space-around;
}
/* FOOTER */
.footer_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #000;
    height: 100px;
    color: #fff;
}

.contacts {
    display: flex;
    align-items: center;
}

.title {
    text-transform: uppercase;
}

.social_media img[alt = 'instagram_icon']{
    width: 37px;
}
.social_media img[alt = 'facebook_icon']{
    width: 33px;
}
.social_media img[alt = 'twitter_icon']{
    width: 35px;
}

.social_media ul {
    display: flex;
}

.social_media li {
    padding: 0 1em;
}